<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRUD Sample</title>
</head>
<body>
	<h2>一覧ページ</h2>
	<table>
		<tr><th>id</th><th>name</th><th>old</th></tr>
		<tr th:each="test : ${testList}">
			<td th:text="${test.id}"></td>
			<td th:text="${test.name}"></td>
			<td th:text="${test.old}"></td>
			<td>
				<a href="#" th:href="@{'/sample/edit/' + ${test.id}}"><button>編集</button></a>				
			</td>
			<td>
				<form action="#" th:action="@{'/sample/delete/' + ${test.id}}" method="post"}>
					<button>削除</button>
				</form>
			</td>
		</tr>
	</table>
	<div><a href="#" th:href="@{/sample/form}">入力フォーム</a></div>
</body>
</html>